<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" action="http://localhost:3002/posts">
      <label>token</label>
      <input type="text" placeholder="enter token" name="token" />
      <input type="file" placeholder="enter token" name="media" />
      <input type="test" placeholder="enter token" name="body" />
      <button type="submit">l;msvdopjm</button>
    </form>
  </body>
</html>
