*{
     margin: 0px;
     padding: 0px;
}
.homecontainer{
     display: flex;
}

.homecontainer>div:nth-of-type(odd){
    
     flex:0.2;
     height: 90vh;
     width: 500px;
}

.homecontainer>div:nth-of-type(even){
     flex:0.6
}

.homecontainer_left{
     display: flex;
     flex-direction: column;
     align-items: start;
     /* gap:1.2rem; */
   padding-right: 60px;
    position: relative;
right: 90px;
border-right: 1px solid rgb(222, 222, 222);

}
.homecontainer_leftSidebar{
     display: flex;
     /* align-items:center; */
     width: 80%;
     max-width: 80%;
     margin-right:100px;
     cursor: pointer;
     font-size: 1.4rem;
     gap:1rem; 
}

.homecontainer_leftSidebar:hover{
     transform: scale(1.04);
     opacity: 0.8;
}
.homecontainer_leftSidebar>svg{

     height: 1.4em;
}


.homecontainer_leftSidebar1{
     display: flex; 
     font-size: 1.4rem;
     gap:1rem;
}

.homecontainer_leftSidebar1>svg{
/* height: 20px;
width: 40px; */
height: 1.4em;
}
.homecontainer_leftSidebar1:hover{
     transform: scale(1.04);
     opacity: 0.8;
}
.homecontainer_leftSidebar2{
     display: flex; 
     font-size: 1.4rem;
     gap:1rem;
}
.homecontainer_leftSidebar2>svg{
     height: 1.4em;
     }

     .homecontainer_leftSidebar2:hover{
          transform: scale(1.04);
          opacity: 0.8;
     }

     .extracontainer{
          border-left: 1px solid rgb(222, 222, 222);
          padding-left: 1.2rem;
          position: relative;
     right: 62px;
     
     }